.content {
  position: relative;
  .homeList {
    border-bottom: 1px dashed white;
    margin: 0 auto;
    min-height: 100px;
    background: #add8e6;
    width: 1000px;
    height: 100px;
  }
  .homeList a {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 700;
  }
}
